@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap');

body{
    font-family: 'Arima', cursive;
    font-weight: bold;
    font-size: large;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 42%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
}

.bg-beige{
    background-color:beige ;
}
.img-carousel{
    width: 802px;
    height: 525px;
    margin-left: 280px;
    /* width: auto;
    height: 700px;
    max-height: 700px; */
  
}

.card img{
    width: 255px;
    height: 200px;

}

.lista li{
    list-style-type: none;
}
footer{
    background-color: beige;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
footer ul li{
    list-style-type: none;
}

footer ul li a{
    
    text-decoration: none;
    color: #000000;
    font-size: medium;
    white-space: 400px;
    display: flex;
    flex-direction: column;

}

.footer-redes{
    text-align: center;
    font-size: medium;
    display: flex;
    flex-direction: column;
    flex-wrap: ;
    width: 200px;
}

.logo-redes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bi-instagram{
    color: #cc2366;
}
 .bi-whatsapp{
    color: rgb(13, 199, 13);
 }

 .btn-whatsapp {
    display:block;
    width:70px;
    height:70px;
    color#fff;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;}

.btn-whatsapp{
    transition: height 2s, width 1s;
}

.btn-whatsapp:hover{  
    width: 100px;
    height: 100px;

}

.parrafos-qs{
    padding: 30px;
}
/* 
#carousel-qs {
    width: 802px;
    height: 525px;
    margin-left: 280px;

}   */


@media screen and (max-width:768px){
    .img-carousel{margin-top: 30px;
        margin-left: 150px;
        width: 450px;
        height: 350px;
    }
}
@media screen and (max-width:480px){
    .img-carousel{margin-top: 30px;
        margin-left: 20px; 
        width: 450px;
        height: 350px;
    }
}