@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap');
*{
    margin: 0%;
    border: 0%;
}

body{
    font-family: 'Arima', cursive;
    font-weight: bold;
    font-size: large;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 42%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    /* background-image: url("./Imagenes/back3.jpg"); */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    

}

#grilla{
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header"
                        "main main section-uno section-uno"
                        "section-dos section-dos . ."
                        "aside aside aside aside"
                        "footer footer footer footer";
}

#header{
    grid-area: header;
}

#main{
    grid-area: main;
}

#section-uno{
    grid-area: section-uno;
}

#section-dos{
    grid-area: section-dos;
}

#aside{
    grid-area: aside;
}

#footer{
    grid-area: footer;
}

            /* styles header */

.inicio{ 
    display: flex;
    font-family: 'Arima': cursive;
    font-size: 15px;
}
            
.home{
    display: flex;
    flex-direction: row;
    align-items: center;
}
            
nav ul li{
    text-decoration: none;
    display: inline-block;   
}
            
nav ul li a{
    padding-inline: 5px;
    color: #000000;
}
            
header{
    background-color: beige;
     width: 100vmax;
    align-items: center;
    margin-bottom: 30px;
}

.input-busqueda{
    display: inline-block;
    margin-left: 400px;}

input{
    width: 100px;
    height: 20px;
    transition: height 2s, width 1s;
}
input:hover{
    width: 200px;
    height: 30px;
    
}

        /* styles main */

.imagen-portada{
    width: 700px;
    height: 500px;
    margin-left: 20px;
    border-radius: 30px;
}

.parrafo-portada{
    margin-top: 200px;
    padding-inline: 50px;
    background-color: rgba(245, 245, 220, 0.585);
    border-radius: 30px;
}

section iframe{
    width: auto;
    height: auto;
    transition: height 5s, width 3s;
}

section iframe:hover{
    width: 600px;
    height: 500px;
}

        /* styles section-uno */


.grilla-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iframe{
    margin-top: 300px;
    width: 500px; 
    height: 400px;
   display: flex;
   
}

.lista{
    margin-top: 200px;
    background-color: rgba(245, 245, 220, 0.585);
    border-radius: 30px; 
    display: flex;
    text-decoration: none;
    list-style-type: none;
    
}

.lista ul li{
    text-decoration: none;
    list-style-type: none; 
    flex-wrap: wrap;
    justify-content: center;
}



        /* styles section-dos */

.parrafo-dos{
    margin-top: 50px;
    padding-inline: 50px;
    background-color: rgba(245, 245, 220, 0.585);
    border-radius: 30px;
}

        /* styles aside */
.envios{
    
    margin-top: 100px;
    justify-items: center;
    text-align: center;
    background-color: rgba(245, 245, 220, 0.585);
    border-radius: 60px;
}
.img-envios{
    border-radius: 30px;
    width: 500px;
    height: 400px;
    margin-top: 50px;
    margin-left: 450px;
  
}

aside h2{
    padding-inline: 100px;
    font-size: 40px;  
}
.marcas{  
    margin-top: 100px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    font-size: xx-large;  
}

/* styles footer */

footer{
    background-color: beige;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
footer ul li{
    list-style-type: none;
}

footer ul li a{
    
    text-decoration: none;
    color: #000000;
    font-size: medium;
    white-space: 400px;
    display: flex;
    flex-direction: column;

}

.footer-redes{
    text-align: center;
    font-size: medium;
    display: flex;
    flex-direction: column;
    flex-wrap: ;
    width: 200px;
}

.logo-redes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.logos{
    display: flex;
    flex-direction: row
}
        /* html quienes somos */

#grilla-qs{
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
    grid-template-areas: "header-qs"
                        "main-qs"
                        "footer-qs";
}
#header-qs{
    grid-area: header-qs;
}
#main-qs{
    grid-area: main-qs;
}
#footer-qs{
    grid-area: footer-qs;
}

        /* syles */
.home-qs{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #000000;
}
.main-qs{
    background-color: rgba(245, 245, 220, 0.422);
}
.titulo-main-qs{
    text-align: center;
}
.parrafos-qs{
    padding: 30px;
}

/* html Productos */
#grilla-pr{
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "header-pr"
                        "main-pr"
                        "footer-pr";
}
#header-pr{
    grid-area: header-pr;
}
#main-pr{
    grid-area: main-pr;
}
#footer-pr{
    grid-area: footer-pr;
}

.main-pr{
    display: flex;
    justify-items: center;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "titulo titulo titulo titulo "
                    " sabanas acolchados cocina cortinas"
                    " edredones almohadas frazadas toallas";
}
.titulo{
    grid-area: titulo;
    padding-inline: 50px;
    font-size: 30px;
    background-color: rgba(245, 245, 220, 0.452);
    border-radius: 20px;
    margin-bottom: 50px;
}
.sabanas{
    grid-area: sabanas;
    display: flex;
    flex-direction: column;
}
.acolchados{
    grid-area: acolchados;
    display: flex;
    flex-direction: column;
}
.cocina{
    grid-area: cocina;
    display: flex;
    flex-direction: column;
}
.cortinas{
    grid-area: cortinas;
    display: flex;
    flex-direction: column;
}
.edredones{
    grid-area: edredones;
    display: flex;
    flex-direction: column;
}
.almohadas{
    grid-area: almohadas;
    display: flex;
    flex-direction: column;
}
.frazadas{
    grid-area: frazadas;
    display: flex;
    flex-direction: column;
}
.toallas{
    grid-area: toallas;
    display: flex;
    flex-direction: column;
}
.img-prod{
    width: 200px;
    height: 200px;
}
.lista-productos{
    padding: 15px 25px;
    text-decoration: none;
    color: #000000;
    font-size: x-large;
    background-color: rgb(245, 245, 220);
    border-radius: 20px;
    margin-bottom: 20px;
}


        /* responsive index*/
@media screen and ( max-width:768px){
body{ 
    background-image: none;
}
#grilla{
    display: flex;
    flex-direction: column;
}

.home{
    margin-top: 10px;
}
nav > * {
    margin-left: 0%;
    /* text-align: center;
    align-content: center; */
}
.nav-list{
    margin-top: 30px;
}
.input-busqueda{
    margin-left: 0%;
    margin-top: 10px;
}
.imagen-portada{
    width: 350px;
    height: 300px;
    
}
.parrafo-portada{
    margin-top: 0%;
}
.iframe{
    margin-left: 0px;
    width:350px ;
    height: 200px;
    margin-top: 20px;
    
}
.tabla{
    margin-top: 20px;
}
.parrafo-dos{
    margin-top: 20px;
}
.envios{
    margin-top: 20px;
    font-size: 30px;
}
.img-envios{
    margin-top: 10px;
    margin-left: 200px;
    width:350px ;
    height: 300px;  
}
.marcas{
    margin-top: 10px;
    padding-inline: 15px;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
}
.footer{
    font-size: x-small;
}
}

@media screen and ( max-width:480px){
    body{ background-image: none;
    }
    #grilla{display: flex;
    flex-direction: column;}
 .inicio{
    flex-direction: column;
 }
.home{
    margin-top: 10px;
    
}
nav > * {
    
    display: flex;
    flex-direction: column;
   
}


.input-busqueda{
    margin-left: 0%;
    margin-top: 10px;
}
.imagen-portada{
    width: 350px;
    height: 300px;
    margin-left: 60px;
}
.parrafo-portada{
    margin-top: 0%;
}
.iframe{
    margin-left: 0px;
    width:350px ;
    height: 300px;
    margin-top: 20px;
}
.tabla{
    margin-top: 20px;
}
.parrafo-dos{
    margin-top: 20px;
}
.envios{
    margin-top: 20px;
    padding-inline: 15px;
    font-size: 30px;
}
.img-envios{margin-top: 10px;
    margin-left: 70px;
    width:350px ;
    height: 300px;  
}
.marcas{
    margin-top: 20px;
    padding-inline: 15px;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
}
.footer{
    font-size: x-small;
}
}


         /* responsive quienes somos*/
@media screen and ( max-width:768px){
body{ 
    background-image: none;
}

@media screen and ( max-width:480px){
body{ background-image: none;
    }
#grilla-qs{display: flex;
        flex-direction: column;}
.inicio{
        flex-direction: column;
}
.home-qs{
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 0%;   
}
    
.input-busqueda{
        margin-left: 0%;
        margin-top: 10px;
    } 
.footer-qs{
        font-size: x-small;
}
}

/* responsive productos  */
@media screen and ( max-width:768px){
body{ 
background-image: none;
}
#grilla-pr{display: flex;
    flex-direction: column;
}
.main-pr{
display: flex;
flex-direction: column;
}
.titulo{
font-size: 20px;
}  
.img-prod{
width: 100px;
height: 100px;
margin-left: 15px;
}
.main-pr{
margin-bottom: 400px;
display: flex;
justify-items: center;
height: 100vh;
display: grid;
grid-template-rows: repeat(5, 1fr);
grid-template-columns: repeat(2, 1fr);
grid-template-areas: "titulo titulo "
                "sabanas acolchados"
                "cocina cortinas" 
                "edredones almohadas"
                "frazadas toallas"
}
}
    

@media screen and ( max-width:480px){
body{ 
    background-image: none;
}
#grilla-pr{display: flex;
            flex-direction: column;}
.inicio{
    flex-direction: column;
}
.home-qs{
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 0%;   
    }
        
.input-busqueda{
    margin-left: 0%;
    margin-top: 10px;
} 
.main-pr{
    display: flex;
    flex-direction: column;
   
}
.titulo{
    font-size: 20px;
}  
.img-prod{
    width: 100px;
    height: 100px;
    margin-left: 15px;
}
.main-pr{
    margin-bottom: 400px;
    display: flex;
    justify-items: center;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "titulo titulo "
                        "sabanas acolchados"
                        "cocina cortinas" 
                        "edredones almohadas"
                        "frazadas toallas"
}
}


